#!/bin/sh
#
# $Id: config.sh.sample,v 1.1.2.5 2004-02-07 15:15:29 dan Exp $
#

BASEDIR="/usr/websites/working-copy.freshports.org"

# what is the URL for this website?
WEBSITEURL="http://working-copy.freshports.org"

#
# where do I find files such as load_xml_into_db.pl
#
SCRIPTDIR="/path/to/scripts/directory"

#
# Where does the msg directory start?
# This directory should contain the files
# created by ${SCRIPTDIR}/procmail/create_dirs.sh
# and be the value which supplied to that script.
#
MSGDIR="/path/to/msg/directory"

CACHEDIR="/usr/websites/freshports.org/caching/cache"
STAGINGDIR="/usr/websites/freshports.org/caching/tmp"

# What file do we set for /usr/ports/MOVED?

MOVEDFLAGFILE="${BASEDIR}/dynamic/refresh_moved"

PORTSDIR="/home/dan/ports"
ADMINEMAIL="dan@langille.org"

if [ -e 'OFFLINE' ]
then
	OFFLINE=1;
else
	OFFLINE=0;
fi
