#
# $Id: config.pm.sample,v 1.26 2013-03-23 14:16:32 dan Exp $
#
# Copyright (c) 2001-2007 DVL Software
#

package FreshPorts::Config;

use Cwd;

#
# This section contains local settings.  Change them to suit your environment.
#

$FreshPorts::Config::FreshPortsURL		= 'http://WEBSITE_URL/';

$FreshPorts::Config::TimeAdjust			= '-10800 seconds';

$FreshPorts::Config::host			= 'localhost';
$FreshPorts::Config::dbname			= 'databasename';
$FreshPorts::Config::user			= 'user';
$FreshPorts::Config::password			= 'password';

$FreshPorts::Config::BaseDir			= "/usr/local/FreshPorts";

$FreshPorts::Config::scriptpath			= $FreshPorts::Config::BaseDir . '/scripts';

$FreshPorts::Config::mkdir_pkg			= 0;

$FreshPorts::Config::QueueBaseDir     		= $FreshPorts::Config::BaseDir;

#
# where on disk is the ports tree?
#
$FreshPorts::Config::path_to_tree		= $FreshPorts::Config::BaseDir;

#
# where in the cvs tree are ports?
#
$FreshPorts::Config::ports_prefix		= 'ports';

$FreshPorts::Config::DailySummaryDir	= $FreshPorts::Config::BaseDir . "/www/archives"; # no trailing /
$FreshPorts::Config::HourlySummaryDir	= $FreshPorts::Config::BaseDir . "/dynamic";

$FreshPorts::Config::CommitterNotify	= 0;	# Should we notify committers of problems?
$FreshPorts::Config::NotifyAdmin        = 1;	# Notify me

#
# Change only above. Do not change below.
#

#
# ensure we have the real path names here...
# otherwise we'll have trouble with determining relative pathnames
#
$FreshPorts::Config::scriptpath				= Cwd::abs_path($FreshPorts::Config::scriptpath);
$FreshPorts::Config::path_to_tree			= Cwd::abs_path($FreshPorts::Config::path_to_tree);	

$FreshPorts::Config::email_server			= 'localhost';
$FreshPorts::Config::email_port				= 25;
$FreshPorts::Config::email_client			= 'localhost';

$FreshPorts::Config::SystemOwnerEmail		= 'dan@langille.org';

$FreshPorts::Config::JobWaiting			= $FreshPorts::Config::BaseDir . '/dynamic/job_waiting';
$FreshPorts::Config::MovedFileFlag		= $FreshPorts::Config::BaseDir . '/dynamic/refresh_moved';
$FreshPorts::Config::UpdatingFileFlag		= $FreshPorts::Config::BaseDir . '/dynamic/refresh_updating';
$FreshPorts::Config::VuXMLFileFlag		= $FreshPorts::Config::BaseDir . '/dynamic/vuxml';
$FreshPorts::Config::RefreshCachFileFlag	= $FreshPorts::Config::BaseDir . '/dynamic/cache_needs_refresh';
$FreshPorts::Config::WWWENPortsCategoriesFlag	= $FreshPorts::Config::BaseDir . '/dynamic/www.en.ports.categories';

$FreshPorts::Config::PortsFreezeFile	    	= $FreshPorts::Config::BaseDir . '/dynamic/PortsFreezeIsInEffect';

# number of files in the ports tree
$FreshPorts::Config::PortsTreeCount	    	= $FreshPorts::Config::BaseDir . '/dynamic/PortsTreeCount';

#
# for ports caching
#
$FreshPorts::Config::CachingRoot            = $FreshPorts::Config::BaseDir . '/dynamic/caching';

#
# tmp place for putting files needed by some special processing
#
$FreshPorts::Config::TMP	= $FreshPorts::Config::BaseDir . '/dynamic/caching/tmp';

#
# For fetching files from CVS
#
$FreshPorts::Config::CVS_Repository			= "http://www.freebsd.org/cgi/cvsweb.cgi";

#
# For fetching files from SVN
#
$FreshPorts::Config::SVN_Repository			= "http://svn.freebsd.org";

#
# various debugging settings
#
$FreshPorts::Config::Debug_FetchBeforeSavingPort = 0;

#
# for debugging....
#
#print "\$FreshPorts::Config::scriptpath    '$FreshPorts::Config::scriptpath'\n";
#print "\$FreshPorts::Config::path_to_tree  '$FreshPorts::Config::path_to_tree'\n";

# number of times to retry a failed fetch from cvsweb
$FreshPorts::Config::Fetch_Retry_Limit = 10;

# sleep this number of seconds between retries
$FreshPorts::Config::Fetch_Sleep_Time  = 120;

# various repo names that we follow
$FreshPorts::Config::Repo_DOC    = 'doc';
$FreshPorts::Config::Repo_PORTS  = 'ports';
$FreshPorts::Config::Repo_SRC    = 'src';

# the database file name root prefix fore each repo.
$FreshPorts::Config::DB_Root_Prefix_DOC    = '/doc';
$FreshPorts::Config::DB_Root_Prefix_PORTS  = '/ports';
$FreshPorts::Config::DB_Root_Prefix_SRC    = '/base';

$FreshPorts::Config::Ports_Default_Directory = $FreshPorts::Config::DB_Root_Prefix_PORTS . '/head';

# scripts for the jail
$FreshPorts::Config::JailBaseDir = '/usr/local/FreshPorts/ports-jail';

# this is the path, within the CHROOT, to where we find the SVN directories.
$FreshPorts::Config::SVNBaseDir  = '/usr/local';

$FreshPorts::Config::JailCategoryDescrptionScript = '/make-category-comment.sh';
$FreshPorts::Config::JailDescr                    = '/make-descr.sh';
$FreshPorts::Config::JailDescrAndHomePage         = '/cat-descr.sh';
$FreshPorts::Config::JailMasterSitesScript        = '/make-master-sites-all.sh';
$FreshPorts::Config::JailPortScript               = '/make-port.sh';
$FreshPorts::Config::JailRealPath                 = '/realpath.sh';
$FreshPorts::Config::JailShowConfigScript         = '/make-showconfig.sh';
$FreshPorts::Config::JailUser                     = 'dan';

1;
