#
# $Id: crontab.sample,v 1.7 2002-01-21 21:02:43 dan Exp $
#
# Copyright (c) 2001 DVL Software
#
# use /bin/sh to run commands, overriding the default set by cron
SHELL=/bin/sh
# mail any output to `paul', no matter whose crontab this is
MAILTO=dan

0	1	*		*	*	nice -15 sh -c '(${HOME}/scripts/database_dump.sh 2>&1 | mail -s "freshports Backup" root)'
10	18	*		*	*	nice -15 sh -c '(cd ${HOME}/scripts ; /usr/bin/perl ${HOME}/scripts/email.pl D 2>&1 | mail -s "freshports daily notice"       root)'
0	19	*		*	2	nice -15 sh -c '(cd ${HOME}/scripts ; /usr/bin/perl ${HOME}/scripts/email.pl W 2>&1 | mail -s "freshports weekly notice"      root)'
20	19	9,23	*	*	nice -15 sh -c '(cd ${HOME}/scripts ; /usr/bin/perl ${HOME}/scripts/email.pl F 2>&1 | mail -s "freshports fortnightly notice" root)'
40	19	23		*	*	nice -15 sh -c '(cd ${HOME}/scripts ; /usr/bin/perl ${HOME}/scripts/email.pl M 2>&1 | mail -s "freshports monthly notice"     root)'

58	15	*		*	*	/usr/local/bin/cvsup -b ${HOME} -h xeon ${HOME}/scripts/ports-supfile | mail -s "lists-test cvsup" root

0	0	*		*	*	nice -15 sh -c '(cd ${HOME}/scripts ; /bin/sh  ${HOME}/scripts/searchlog.sh 2>&1 | mail -s "freshports searchlog" dan@langille.org)'

0	0	*		*	*	nice -15 sh -c '(cd ${HOME}/scripts ; /bin/sh newusers.sh 2>&1 | mail -s "FreshPorts users" dan@langille.org)'
*/10	*	*	*	*	perl ${HOME}/scripts/unrefreshed.pl 2>&1 > /dev/null
10	0	*		*	*	${HOME}/scripts/archive-messages.sh >> /dev/null
