#
# $Id: crontab.sample,v 1.17 2010-09-17 14:31:36 dan Exp $
#
# Copyright (c) 2001-2003 DVL Software
#
# use /bin/sh to run commands, overriding the default set by cron
SHELL=/bin/sh
# mail any output to `paul', no matter whose crontab this is
MAILTO=dan

YYYY_MM_DD=`eval date -v-${DAYS}d "+%Y-%m-%d"`

26	*	*		*	*	cd /usr/websites/working-copy.freshports.org/backend && ./compare.sh > /dev/null 2>&1

DIR=/usr/websites/WEBSITE-NAME/scripts
DIRLOG=/usr/websites/WEBSITE-NAME/scripts-log

0	1	*		*	*	nice -15 sh -c '(cd ${DIR} && sh ./database_dump.sh 2>&1 | mail -s "freshports Backup" root)'

10	18	*		*	*	nice -15 sh -c '(cd ${DIR} && /usr/bin/perl ./report-notification.pl D 2>&1 > ${DIRLOG}/report-security.daily)'
0	19	*		*	2	nice -15 sh -c '(cd ${DIR} && /usr/bin/perl ./report-notification.pl W 2>&1 > ${DIRLOG}/report-notification.weekly)'
20	19	9,23	*	*	nice -15 sh -c '(cd ${DIR} && /usr/bin/perl ./report-notification.pl F 2>&1 > ${DIRLOG}/report-notification.fortnightly)'
40	19	23		*	*	nice -15 sh -c '(cd ${DIR} && /usr/bin/perl ./report-notification.pl M 2>&1 > ${DIRLOG}/report-notification.monthly)'

10	18	*		*	*	nice -15 sh -c '(cd ${DIR} && /usr/bin/perl ./report-new-ports.pl D 2>&1 > ${DIRLOG}/report-new-ports.daily)'
0	19	*		*	2	nice -15 sh -c '(cd ${DIR} && /usr/bin/perl ./report-new-ports.pl W 2>&1 > ${DIRLOG}/report-new-ports.weekly)'
20	19	9,23	*	*	nice -15 sh -c '(cd ${DIR} && /usr/bin/perl ./report-new-ports.pl F 2>&1 > ${DIRLOG}/report-new-ports.fortnightly)'
40	19	23		*	*	nice -15 sh -c '(cd ${DIR} && /usr/bin/perl ./report-new-ports.pl M 2>&1 > ${DIRLOG}/report-new-ports.monthly)'

0	0	*		*	*	nice -15 sh -c '(cd ${DIR} && /bin/sh ./searchlog.sh 2>&1 | mail -s "freshports searchlog" dan@langille.org)'
0	0	*		*	*	nice -15 sh -c '(cd ${DIR} && /bin/sh ./newusers.sh  2>&1 | mail -s "FreshPorts users"     dan@langille.org)'

43  18  *       *   *   ${DIR}/cvsup-local-tree

53  1   *     *  Sun { cd ${DIR}/Verify && perl most-watched.pl > ../../dynamic/watch-list-counts.txt ; }

*/10	*	*	*	*	cd $DIR && perl unrefreshed.pl    2>&1 > /dev/null
0		0	*	*	*	cd $DIR && perl unrefreshed.pl -i 2>&1 > /dev/null
0		*	*	*	*	cd $DIR && perl hourly_stats.pl   2>&1 > /dev/null
0		0	*	*	*	cd $DIR && perl daily_stats.pl    2>&1 > /dev/null
19              10      *       *       *       cd $DIR && purge_old_password_tokens.pl    2>&1 > /dev/null

0               0       *       *       *       cd $DIR && perl test-master-port.pl      2>&1 > /dev/null
0               0       *       *       *       cd $DIR && sh   test-master-port.sh      2>&1 > /dev/null
3		0	*	*	*	cd $DIR && sh daily_rendering_times.sh 1
# 2>&1 > /dev/null

*/5 *   *       *   *   cd $DIR && ./cache-refresh.sh    > /dev/null 2>&1

*/5 *   *       *   *   cd $DIR && perl ./status.pl      > /dev/null 2>&1

10	0	*		*	*	cd $DIR && ./archive-messages.sh >> /dev/null

10	0	*		*	*	cd $DIR && perl ports_tree_file_count.pl

17	0	*		*	*	cd $DIR && sh ./vacuum.sh 2>&1 > /dev/null
