# use /bin/sh to run commands, overriding the default set by cron
SHELL=/bin/sh
# mail any output to `paul', no matter whose crontab this is
MAILTO=dan

#
# do that backup 
#

#0	1	*	*	*	nice -15 sh -c '(/home/freshports.org/scripts/database_dump.sh 2>&1 | mail -s "freshports Backup" root)'
10	18	*	*	*	nice -15 sh -c '(cd /home/freshports.org/scripts ; /usr/bin/perl /home/freshports.org/scripts/email.pl D 2>&1 | mail -s "freshports daily notice" root)'
0	19	*	*	2	nice -15 sh -c '(cd /home/freshports.org/scripts ; /usr/bin/perl /home/freshports.org/scripts/email.pl W 2>&1 | mail -s "freshports weekly notice" root)'
20	19	9,23	*	*	nice -15 sh -c '(cd /home/freshports.org/scripts ; /usr/bin/perl /home/freshports.org/scripts/email.pl F 2>&1 | mail -s "freshports fortnightly notice" root)'
40	19	23	*	*	nice -15 sh -c '(cd /home/freshports.org/scripts ; /usr/bin/perl /home/freshports.org/scripts/email.pl M 2>&1 | mail -s "freshports monthly notice" root)'

0	0	*	*	*	nice -15 sh -c '(cd /home/freshports.org/scripts ; /bin/sh  /home/freshports.org/scripts/searchlog.sh 2>&1 | mail -s "freshports searchlog" dan@langille.org)'

0	0	*	*	*	nice -15 sh -c '(cd /home/freshports.org/scripts ; /bin/sh newusers.sh 2>&1 | mail -s "FreshPorts users" dan@langille.org)'
*/10	*	*	*	*	perl /home/freshports.org/scripts/unrefreshed.pl 2>&1 > /dev/null
