#!/usr/bin/perl

package	freshports_database;
require	Exporter;

use DBI;

@ISA	= qw(Exporter);
@EXPORT	= qw(freshports_connect);


sub freshports_connect() { 

	my $dbh = DBI->connect('dbi:mysql:DATABASE','USERID','PASSWORD');

	return $dbh;
}
