#
# $Id: status.pm.sample,v 1.1.2.1 2003-11-24 16:39:57 dan Exp $
#
# Copyright (c) 2001-2003 DVL Software
#

package FreshPorts::Status;

use strict;
use lib "$ENV{HOME}/scripts";

@FreshPorts::Status::sites  = ('beta.freshports.org', 'working-copy.freshports.org', 'production.freshports.org');
