#
# $Id: status.pm.sample,v 1.1.2.2 2004-11-27 13:54:08 dan Exp $
#
# Copyright (c) 2001-2003 DVL Software
#

package FreshPorts::Status;

use strict;
#use lib "$ENV{HOME}/scripts";

@FreshPorts::Status::sites  = ('beta.freshports.org', 'working-copy.freshports.org', 'production.freshports.org');
