#
# $Id: status.pm.sample,v 1.1.2.3 2004-12-23 13:16:49 dan Exp $
#
# Copyright (c) 2001-2003 DVL Software
#

package FreshPorts::Status;

use strict;

@FreshPorts::Status::sites  = ('beta.freshports.org', 'working-copy.freshports.org', 'production.freshports.org');
