#!/bin/sh
#
# $Id: vacuum.sh.sample,v 1.2 2006-12-17 12:04:04 dan Exp $
#

RESULT=`/usr/local/bin/vacuumdb --analyze --all`
if [ $? != 0 ]; then
   echo ${RESULT} | mail -s "FAILED: vacuum analyze freshports $?" dan@langille.org
else
#   echo ${RESULT} | mail -s "vacuum analyze freshports" dan@langille.org
fi
