#!/bin/sh
#
# $Id: vacuum.sh.sample,v 1.1.2.2 2002-07-24 16:54:38 dan Exp $
#

RESULT=`vacuumdb --analyze freshports`
if [ $RESULT -ne 'VACUUM' ]
   echo $RESULT | mail -s "FAILED: vacuum analyze freshports" dan@langille.org
else
   echo $RESULT | mail -s "vacuum analyze freshports" dan@langille.org
fi
