#!/bin/sh
#
# $Id: vacuum.sh.sample,v 1.1.2.3 2002-07-24 16:56:31 dan Exp $
#

RESULT=`vacuumdb --analyze freshports`
if [ $RESULT = 'VACUUM' ]; then
   echo $RESULT | mail -s "FAILED: vacuum analyze freshports" dan@langille.org
else
   echo $RESULT | mail -s "vacuum analyze freshports" dan@langille.org
fi
